/*
    Octicons from github https://octicons.github.com/

    Color theme
    https://kuler.adobe.com/Peter-Rabbit-color-theme-4131819/
    #32313F Body text
    #A9C5DA Links
    #F3EFE6 Background, Header text
    #F06F4F Nav bar / Header
    #747371 Outline, Divider
*/

@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3EFE6;
    color: #32313F;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}


header {
    color: #F06F4F;
    width: 100%;
    height: 128px;
}

h4 {
    margin: 10px;
}

ul {
    margin-left: 15px;
}

section {
    
}

#headerContent {
    text-align: center;
    float: right;
    height: 98px;
    padding: 15px;
}

#frontpage {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 30px;
}

    #frontpage h3 {
        margin-bottom: 15px;
    }

  #postList img,iframe {
      max-width: 355px;
  }


  #postList ul {
      list-style-type: none;
  }

  #postList .post,li {
      border: 3px solid #747371;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 5px;
  }

#error {
 width: 100%;
 background-color: orange;
 border: 1px solid red;
 color: #32313F;
 text-align: center;
 padding-top: 4px;
 padding-bottom: 4px;
}

.logo {
    font-size: 48px;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    letter-spacing: 3px;
}

.sublogo {
    font-size: 14px;
    letter-spacing: -1px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    display: none;
}

.modal {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #F3EFE6;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    z-index: 11; /* 1px higher than the overlay layer */
    display: none;
}

.button {
    color: #32313F;
    background-color: #A9C5DA;
    border: none;
    width: 64px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

    .button:hover {
        border: 2px solid #747371;
    }

    .button:active {
        color: #F3EFE6;
        border-color: #F3EFE6;
    }

.signature {
    float: right;
    text-align: right;
    width: 100%;
    margin-top: 15px;
}

.loaderBar {
    
}
