#outer-barG{
height:19px;
width:64px;
border:1px solid #F3EFE6;
overflow:hidden;
background-color:#F06F4F}

.bar-lineG{
background-color:#F3EFE6;
float:left;
width:9px;
height:62px;
margin-right:12px;
margin-top:-14px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.bar-animationG{
margin-left:84px;
width:84px;
-moz-animation-name:bar-animationG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bar-animationG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bar-animationG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bar-animationG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bar-animationG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#front-barG{
}

@-moz-keyframes bar-animationG{
0%{
margin-left:78px;
margin-top:-9px}

100%{
margin-left:-64px;
margin-top:-9px}

}

@-webkit-keyframes bar-animationG{
0%{
margin-left:78px;
margin-top:-9px}

100%{
margin-left:-64px;
margin-top:-9px}

}

@-ms-keyframes bar-animationG{
0%{
margin-left:78px;
margin-top:-9px}

100%{
margin-left:-64px;
margin-top:-9px}

}

@-o-keyframes bar-animationG{
0%{
margin-left:78px;
margin-top:-9px}

100%{
margin-left:-64px;
margin-top:-9px}

}

@keyframes bar-animationG{
0%{
margin-left:78px;
margin-top:-9px}

100%{
margin-left:-64px;
margin-top:-9px}

}